{% extends "base.html" %}
{% block title %}单支股票{% endblock %}

{% block content %}
<div align = "left" class="container"> 
  <form action="" method="post" name="singleStockInputs">
    {{ form.csrf_token }}
	{{ form.hidden_tag()}}
      <p>
          股票代码: {{ form.stockId}} <br>
          起始资金： {{form.initMoney}} <br>
          回测开始日期(yyyy-mm-dd)： {{form.startDate}} <br>
          回测终止日期(yyyy-mm-dd)： {{form.endDate}} <br>
		  <hr>
		  <p>
		  <font color="red">说明： 如果做单个策略测试，把多个策略比较选项设为“无”； 同样,在做多个策略测试比较时，把单个策略选项设为“无”</font>
		  <p>
		  <br>
          单个策略选择： {{form.strategy}}<br>
		  <br>
		  <hr>
		  多个策略比较（按住CTRL选择多个策略）： {{form.strategies}} <br>
      </p>
	  <hr>
	  
	  <p>
	  <h4> 策略参数 </h4>
		  随机策略（每天扔筛子，低于此百分比，买入或卖出）百分比： {{form.randPerct}} <br>
		  <br>
		  SMA交叉策略（SMA1向上突破SMA2，买入；SMA1向下突破SMA2，卖出）短天数： {{form.smaShort}}
		  长天数： {{form.smaLong}} <br>
		  <br>
		  SMA策略（SMA1>SMA2>SMA3买入；不符合此条件卖出）天数(N1)： {{form.smaFirst}}
		  天数(N2)： {{form.smaSecond}}
		  天数(N3)： {{form.smaThird}} <br>
		  <br>
		  布林格区间策略（收盘价向上突破布林格下限，买入；收盘价向下突破布林格上限，卖出）天数： {{form.bbandDay}} <br>
		  <br>
		  唐奇安通道（N1日新高，买入）入场天数： {{form.donChianLong}} 
		  唐奇安通道（N2日新低，卖出）出场天数： {{form.donChianShort}}<br>
		  <br>
		  MV策略（收盘价低于N天前买入，高于N天前卖出）天数： {{form.mvDay}}<br>
	  </p>
	  
      <p><input type="submit" value="测试"></p>
  </form>

</div> 
{% endblock %}